
/********************     VARIABLES        ************************/

:root{
    --main-color:#F22B29;
    --main-bg-color:#140F2D;
    --secondary-color:#F49D37;
}

/* ==========================================================================
TOOLS
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
}

html {

    font-size: 62.5%; 
}

body {
    font-size: 1.6rem;
}

/********************     SONG PAGE        ************************/

.song-main {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    display: flex;
}


/* LATERAL BAR */

.song-lateral-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 20vw;
    height: 100vh;
}

.song-avatar {
    margin: 2.2em 0;
}

.song-avatar img {
    border-radius: 50%;
}

.song-lateral-bar p {
    text-align: center;
    color: white;
}

.song-lateral-bar p:nth-child(2) {
    font-size: 2.4rem;
    margin-bottom: 1em;
}

.song-lateral-bar p:nth-child(3) {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

.song-lateral-bar p:nth-child(4) {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2em;
}

.song-lateral-bar p:nth-child(5) {
    font-size: 2.4rem;
}

.song-lateral-bar div:nth-child(2) p {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: left;
    margin: 0 0 3em 1.5em;
}

.song-lateral-bar div:nth-child(2) p a {
    text-decoration: none;
    color: white;
}

.song-lateral-bar div:nth-child(2) p a:hover {
    font-weight: bold;
    color: var(--main-bg-color);
}

/* MAIN CONTENT */

.song-main-content{
    background-color: var(--secondary-color);
    margin-left: 20vw;
    padding: 2.5em;
    width: 80vw;
    height: 100%;
}

.song-main-content h1 {
    font-size: 3.6rem;
    margin-bottom: 3.5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.song-card h2 {
    margin-bottom: 0.5em;
}

.song-fav-button {
    padding: 0.5em 1.5em;
    width: 100%;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: #f22c29ab;
    border-radius: 5em;
}

.song-fav-button:hover {
    text-decoration: underline;
    background-color: #f22c29;

}

/********************     ADMIN PAGE        ************************/

#search{
    border: none;
    background: var(--main-color);
    padding: 1rem;
    border-radius: 2rem;
}

.admin-search-bar button{
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    border: #000 .2rem solid;
    background: #fff;
}

.admin-main {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    display: flex;
}


/* LATERAL BAR */

.admin-lateral-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 20vw;
    height: 100vh;
}

.admin-avatar {
    margin: 2.2em 0;
}

.admin-avatar img {
    border-radius: 50%;
}

.admin-lateral-bar p {
    text-align: center;
    color: white;
}

.admin-lateral-bar p:nth-child(2) {
    font-size: 2.4rem;
    margin-bottom: 1em;
}

.admin-lateral-bar p:nth-child(3) {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

.admin-lateral-bar p:nth-child(4) {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2em;
}

.song-lateral-bar p:nth-child(5) {
    font-size: 2.4rem;
}

.admin-lateral-bar div:nth-child(2) p {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: left;
    margin: 0 0 3em 1.5em;
}

.admin-lateral-bar div:nth-child(2) p a {
    text-decoration: none;
    color: white;
}

.admin-lateral-bar div:nth-child(2) p a:hover {
    font-weight: bold;
    color: var(--main-bg-color);
}

/* MAIN CONTENT */

.admin-main-content{
    background-color: var(--secondary-color);
    margin-left: 20vw;
    padding: 2.5em;
    width: 80vw;
    height: 100%;
}

.admin-main-content h1 {
    font-size: 3.6rem;
    margin-bottom: 3.5rem;
}

.admin-search-bar {
    margin: 1em 0;
    border-radius: 10px;
}

table {
    margin: 1.5em 0;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #dddddd61;
    text-align: center;
}

th {
    background-color: #f22c298e;
}
  
td {
    height: 50px;
}


  tr:nth-child(even) {
    background-color: #f22c298e;
}

/* ==========================================================================
FOOTER
========================================================================== */

footer {
  font-size: 3rem;
  color: #fff;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
}

footer i {
  padding: 1rem;
  cursor: pointer;
}

footer img {
  width: 5rem;
  cursor: pointer;
}


/* ==========================================================================
REGISTER AND LOGIN FORM
========================================================================== */
.register-login-form h1 {
    text-align: center;
    margin-bottom: 3rem;
}
.register-login-form {
    font-family: 'Roboto Condensed';
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
    width: 50%;
    margin: 10rem auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.register-login-form > * {
    margin-inline: auto;
    width: 50%;
}
.register-login-form input {
    border-radius: 15px;
    border: solid 2px var(--main-bg-color);
    background-color: var(--secondary-color);
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.register-login-form input:focus{
    border: solid 3px var(--main-color);
    outline: none;
}
.register-login-form label {
    margin-bottom: 0.6rem;
}
.register-login-form select {
    border-radius: 15px;
    border: solid 2px var(--main-bg-color);
    background-color: var(--secondary-color);
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.register-login-form button {
    border-radius: 20px;
    border: none;
    background-color: var(--main-color);
    padding: 1rem 4rem;
    margin-top: 3rem;
    width: max-content;
    box-shadow: inset 5px -5px 5px rgba(0,0,0,0.25);
    transition: all 400ms ease-in;
    cursor: pointer;
}

.register-login-form button:hover{
    transform: translate(3px, -3px);
    box-shadow:  rgba(0, 0, 0, 0.25) -5px 5px 3px,
                inset 20px -20px 10px rgb(219, 26, 0);
}

.form-link-bottom {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.form-link-bottom a {
    color: var(--main-color);
}

.form-link-bottom a:hover{
    color: aqua;
}

.audio-wrapper {
  margin-inline: auto;
  width: fit-content;
}
audio::-webkit-media-controls-panel {
  background-color: var(--main-color);
}
/* ==========================================================================
Home page
========================================================================== */

body {
  background: var(--main-bg-color);
  color: #fff;
}

header {
  background: var(--main-bg-color);
  padding-top: 2rem;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 2rem;
}

.header-pseudo-avatar {
  display: flex;
  align-items: center;
}

.header-pseudo {
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 1rem;
}

header a {
  color: #fff;
  transition: all 200ms ease-in;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.header-avatar {
  width: 8rem;
}

.header-hide {
  visibility: hidden;
  width: 20%;
}

.header-login {
  font-size: 3rem;
  cursor: pointer;
}

header a:hover {
  color: var(--main-color);
}

.home-page-presentation {
  height: 80vh;
  background-image: url('../img/Johnny-Hallyday-2359.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-presentation-h1 {
  font-family: 'Marcellus SC', serif;
  background: #140f2d7e;
  color: var(--main-color);
  font-size: 8rem;
}

.home-page-rejoindre {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.home-page-rejoindre-p {
  width: 60%;
  max-width: 800px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.4rem;
}

.home-page-rejoindre-button {
  margin: 3rem auto;
  border-radius: 7rem;
  padding: 3rem 7rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  border: none;
  background-color: var(--secondary-color);
  box-shadow: inset 20px -20px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 400ms ease-in;
}

.home-page-rejoindre-button a {
  color: #000;
  text-decoration: none;
}

.home-page-rejoindre-button:hover {
  transform: translate(5px, -5px);
  box-shadow: rgba(0, 0, 0, 0.25) -10px 10px 5px,
    inset 20px -20px 10px rgb(219, 132, 0);
}

.home-page-rejoindre-h1,
.home-page-preuve-h1 {
  font-size: 3.2rem;
  padding: 3rem;
}

.home-page-preuve {
  margin: 0;
  text-align: center;
  color: var(--main-bg-color);
  background-color: var(--secondary-color);
}

.home-page-preuve-img{
    width: 80%;
    max-width: 1000px;
}

#seach{
    border: none;
    background: var(--secondary-color);
}