/********************     VARIABLES        ************************/

:root{
    --main-color:#F22B29;
    --main-bg-color:#140F2D;
    --secondary-color:#F49D37;
}

/********************     TOOLS        ************************/

* {
    box-sizing: border-box; 
    margin: 0;
}

html {
    font-size: 62.5%; 
}

body {
    font-size: 1.6rem;
}

/********************     SONG PAGE        ************************/

.song-main {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    display: flex;
}


/* LATERAL BAR */

.song-lateral-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 20vw;
    height: 100vh;
}

.song-avatar {
    margin: 2.2em 0;
}

.song-avatar img {
    border-radius: 50%;
}

.song-lateral-bar p {
    text-align: center;
    color: white;
}

.song-lateral-bar p:nth-child(2) {
    font-size: 2.4rem;
    margin-bottom: 1em;
}

.song-lateral-bar p:nth-child(3) {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

.song-lateral-bar p:nth-child(4) {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2em;
}

.song-lateral-bar p:nth-child(5) {
    font-size: 2.4rem;
}

.song-lateral-bar div:nth-child(2) p {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: left;
    margin: 0 0 3em 1.5em;
}

.song-lateral-bar div:nth-child(2) p a {
    text-decoration: none;
    color: white;
}

.song-lateral-bar div:nth-child(2) p a:hover {
    font-weight: bold;
    color: var(--main-bg-color);
}

/* MAIN CONTENT */

.song-main-content{
    background-color: var(--secondary-color);
    margin-left: 20vw;
    padding: 2.5em;
    width: 80vw;
    height: 100%;
}

.song-main-content h1 {
    font-size: 3.6rem;
    margin-bottom: 3.5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.song-card h2 {
    margin-bottom: 0.5em;
}

.song-fav-button {
    padding: 0.5em 1.5em;
    margin: 10rem 0;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: #f22c29ab;
    border-radius: 5em;
}

.song-fav-button:hover {
    text-decoration: underline;
    background-color: #f22c29;
}